@-webkit-keyframes scaleIn {
from {
	-webkit-transform: scale(1.2);
	opacity: 0;
}

to {
	-webkit-transform: scale(1);
	opacity: 1;
} }

@-webkit-keyframes
scaleOut {from {
	-webkit-transform: scale(1);
	opacity: 1;
}

to {
	-webkit-transform: scale(0.8);
	opacity: 0;
} }

fx-dialog {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	visibility: hidden;
	-webkit-transition: background-color 300ms ease-in-out;
	-moz-transition: background-color 300ms ease-in-out;
	transition: background-color 300ms ease-in-out;
	background-color: rgba(0, 0, 0, 0);
}

fx-dialog.active {
	visibility: visible;
	background-color: rgba(0,0,0,0.5);
}
fx-dialog.hide {
	background-color: rgba(0,0,0,0);
}
fx-dialog.effect-scaleIn .dialog-container.active {
	-webkit-animation-name: scaleIn;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
}
fx-dialog.effect-scaleIn.hide .dialog-container {
	-webkit-animation-name: scaleOut;
}

fx-dialog .dialog-container {
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
}

.popup-head {
	padding: 15px 0px;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.popup-title {
	margin: 0;
	padding: 0;
	font-size: 15px;
}

.popup-sub-title {
	margin: 5px 0 0 0;
	padding: 0;
	font-weight: normal;
	font-size: 11px;
}

.popup-body {
	padding: 10px;
}
.button.button-positive {
	border-color: #145fd7;
	background-color: #4a87ee;
	color: #fff;
}
.popup-buttons.row {
	margin: 10px;
}
.popup-buttons .button {

	margin: 0px 5px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	border-width: 1px;
}
.popup-buttons .button:first-child {
	margin-left: 0px;
}
.popup-buttons .button:last-child {
	margin-right: 0px;
}
.col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	padding: 5px;
	width: 100%;
}
.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	
}
.popup-open {
	pointer-events: none;
}
.popup-open.modal-open .modal {
	pointer-events: none;
}
.popup-open .popup-backdrop, .popup-open .popup {
	pointer-events: auto;
}
fx-popup-dialog .fx-popup-container {
	min-width: 200px;
	min-height: 100px;
}

